.card {
  display: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: white;
  background: #333;
  background-image: radial-gradient(ellipse at bottom left, #5db9ff 40%, rgba(0,163,203,0) 40%),
  radial-gradient(ellipse at top right, #5db9ff 30%, rgba(0,163,203,0) 30%),
  linear-gradient(to right, #363b81 0%, #363b60 33%, #ff4f1f 33%, rgba(213,93,100,1) 66%, #fbd743 66%);
  background-size: 50% 100%;
}

.display{
  width: 80%;
  min-width: 100vh;
  top:10%;
  left:10%;
  height: 75vh;
  background-color: rgba(120,3,120,0.5);
  border-radius:15px;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-items: center;  
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
}

.dis-content {
  width: 50%;
}

.content-title {
  text-align: center;
  font-size: 50px;
  background-color: rgba(131,37,33,0.6);
  border-radius: 10px;
}

.card-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  top:20%;
}

.card-content {
  min-width: 50vh;
  width: 100vh;
  max-width: 90vh;
}

.content {
  min-width: 50vh;
}

.card-des {
  text-align: center;
  font-size: 50px;
  background-color: rgba(231,37,33,0.6);
  border-radius: 10px;
}
.stats-title {
  font-size: 30px;
}

.card-stats{
  min-width: 100vh;
  display: flex;
  flex-direction: row;
}
ul{
  display: flex;
  flex-direction: column;
}
.stats-list {
  width: 100vh;
}